<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Birdie</title>
    <!-- CSS -->
    {{ css('css/bootstrap') }}
    {{ css('css/style') }}
</head>
<body>
    <!-- Navbar -->
    @include('partials/navbar')
    <!-- Content -->
    @!section('content')
    
    <!-- JS -->
    {{ script('js/jquery') }}
    {{ script('js/modal') }}
</body>
</html>